#transition {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.transition-vintage {
  animation-duration: 1000ms;
  animation-name: anim-transition-vintage;
  background-color: rgb(0, 0, 0);
}

@keyframes anim-transition-vintage {
  0% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

/* -------------------------transicion batalla--------------------------------------- */

.transition-batlle-left {
  animation-duration: 1000ms;
  animation-name: anim-batlle-left;
  animation-iteration-count: 1;
}

.transition-batlle-right {
  animation-duration: 1000ms;
  animation-name: anim-batlle-right;
  animation-iteration-count: 1;
  

}

@keyframes anim-batlle-left {
  0% {
    transform: translateX(-100em);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes anim-batlle-right {
  0% {
    transform: translateX(100em);
  }

  100% {
    transform: translateX(0em);
  }
}

/* -------------------------Ajustar tamaño pokemons y animaciones--------------------------------------- */

.anim-venu {
  animation-name: an-ve;
  animation-timing-function: linear;
  animation-duration: 300ms;
}

@keyframes an-ve {
  0% {
    transform: translateX(0em);
  }

  25% {
    transform: translateX(3em);
  }

  75% {
    transform: translateX(-3em);
  }

  100% {
    transform: translateX(0em);
  }
}
/* -------------- */

.tam-blastoise-1 {
  transform: scale(1, 1) translateY(0em) translateX(0em);
  transition-duration: 1ms;
}

.tam-blastoise-2 {
  transform: scale(2, 2) translateY(-0.8em) translateX(0.25em);

  transition-duration: 1ms;
}
/* -------------- */

.tam-charizard-1 {
  transform: scale(1.5, 1.5) translateY(-2em) translateX(0em);
  transition-duration: 1ms;
}
.tam-charizard-2 {
  transform: scale(2, 2) translateY(-1em) translateX(-0.55em);
  transition-duration: 1ms;
}

/* -------------- */

.tam-raichu-1 {
  transform: scale(0.8, 0.8) translateY(0em) translateX(0em);
  transition-duration: ms;
}

.tam-raichu-2 {
  transform: scale(2, 2) translateY(-1.2em) translateX(-0.15em);
  transition-duration: 1ms;
}
